<div class="banner clearfix">
  <!-- slideshow start -->
  <!-- ================ -->
	<div class="slideshow">
						
		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-revolution-5-container">
			<div id="slider-banner-fullscreen" class="slider-banner-fullscreen rev_slider" data-version="5.0">
				<ul class="slides">
					{% for slider in page.sliders %}
					<!-- slide 1 start -->
					<!-- ================ -->
					<li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Unlimited Options and Layouts">
					
					<!-- main image -->
					<img src="{{ slider.image }}" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

					<!-- Transparent Background -->
					<div class="tp-caption dark-translucent-bg"
						data-x="center"
						data-y="center"
						data-start="0"
						data-transform_idle="o:1;"
						data-transform_in="o:0;s:600;e:Power2.easeInOut;"
						data-transform_out="o:0;s:600;"
						data-width="5000"
						data-height="5000">
					</div>

					<!-- LAYER NR. 1 -->
					<div class="tp-caption large_white"
						data-x="left"
						data-y="250"
						data-start="500"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
							<b style="font-size: 50px;"><span class="title">CNQP 2022</span> - {{ slider.title }}</b>
					</div>	

					<!-- LAYER NR. 2 -->
					<div class="tp-caption large_white tp-resizeme"
						data-x="left"
						data-y="330"
						data-start="750"
						data-transform_idle="o:1;"
						data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
							<div class="separator-2 light"></div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption medium_white"
						data-x="left"
						data-y="340"
						data-start="750"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];sX:1;sY:1;s:1750;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><p class="text-justify" style="font-style: 50px">{{ slider.description }}</p>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption small_white"
						data-x="left"
						data-y="460"
						data-start="1000"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1500;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
							<a href="/about/" class="btn btn-gray btn-lg btn-animated margin-clear">En savoir plus <i class="fa fa-info-circle"></i></a> <span class="pl-5 pr-5">ou</span> <a href="/contact/" class="btn btn-default btn-lg btn-animated margin-clear">Nous contacter <i class="fa fa-envelope"></i></a>
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption"
						data-x="center"
						data-y="bottom"
						data-voffset="100"
						data-start="1250"
						data-transform_idle="o:1;"
						data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
						data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
						data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
							<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
					</div>
					</li>
					<!-- slide 1 end -->
					{% endfor %}
				</ul>
			</div>
		</div>
		<!-- slider revolution end -->

	</div>
	<!-- slideshow end -->
</div>
<div id="page-start"></div>