---
layout: default
---
<p>LE DISPOSITIF DE PILOTAGE ET DE GESTION
Le CNQP est géré par les organes de pilotage ci-dessous :
  
Le Conseil d’Administration
Le Comité de Direction
        
Le Conseil Pédagogique
La Direction Générale

Le CNQP comprend trois Directions fonctionnelles et une Agence Comptable. 
Les trois Directions sont :
    • la Direction Administrative et Financière ;
    • la Direction de la Formation Initiale ;
    • la Direction des Prestations de Services.
Un Agent Comptable nommé par arrêté de Monsieur le ministre des finances (tuteur financier de tout établissement public financier).

L’OFFRE DE FORMATION

FORMATION INITIALE OU PRE-EMPLOI
Le recrutement s’effectue sur concours. Les cibles sont de jeunes gens issus du système scolaire sénégalais, niveau minimum 4eme de l’enseignement moyen âgé de 16 à 24 ans.
La durée des études est de trois (3) années.
La première année se déroule entièrement au CNQP. Une formation alternée centre/entreprise se fait en deuxième (2éme) et troisième (3éme) année sous forme de stages industriels organisés par an.

EXAMENS D’ETAT
Le CNQP prépare les jeunes qui le désirent aux examens d’état au C.A.P au B.E.P au B.T  et au B.T.S en cours du soir et en cours du jour


OFFRE DE SERVICES DE FORMATION CONTINUE AUX ENTREPRISES

OBJECTIFS
L’objectif sectoriel jusque-là visé au niveau du département de la formation continue est resté le même, à savoir : 
    • adapter l’agent (ouvrier, technicien et agent de maîtrise) à son poste de travail en tenant compte de l’évolution scientifique et technologique dans les professions
    • favoriser la promotion sociale par l’accès aux différents niveaux de qualification
    • reconvertir les agents selon les opportunités d’emplois
    • assister et conseiller les entreprises partenaires en matière de formation</p>