---
layout: default
---

<!-- banner start -->
<!-- ================ -->
<div class="banner dark-translucent-bg" style="background-image:url('{{ page.background }}'); background-position: 50% 27%;">
	<!-- breadcrumb start -->
	<!-- ================ -->
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Home</a></li>
				<li class="active">A PROPOS DE NOUS</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 pv-20">
				<h3 class="title logo-font object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Centre National de <span class="text-default">Qualification Professionnelle</span></h3>
				<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
				<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{{ page.mini_desc}}</p>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->
<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">
				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">LE DISPOSITIF DE PILOTAGE ET DE GESTION</h1>
							<div class="separator-2 mb-20"></div>
							<!-- page-title end -->

							<div class="row">
								<div class="col-md-6">
									<p>Le CNQP est géré par les organes de pilotage ci-dessous :  <br>
									Le Conseil d’Administration <br>
									Le Comité de Direction	<br>								        
									Le Conseil Pédagogique <br>
									La Direction Générale <br>

									Le CNQP comprend trois Directions fonctionnelles et une Agence Comptable. 
									Les trois Directions sont :
									</p>
									<ul class="list-icons">
										<li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall"><i class="icon-check"></i> la Direction Administrative et Financière ;</li>
										<li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check"></i> la Direction de la Formation Initiale ; </li>
										<li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="150"><i class="icon-check"></i> la Direction des Prestations de Services.</li>
									</ul>
									<p>Un Agent Comptable nommé par arrêté de Monsieur le ministre des finances (tuteur financier de tout établissement public financier).</p>
								</div>

								<!-- sidebar start -->
								<!-- ================ -->
								<aside class="sidebar col-md-6">
									<div class="block clearfix">
										<div class="embed-responsive embed-responsive-16by9">
											 <img src="{{ page.image }}" alt="">
										</div>
									</div>
								</aside>
								<!-- sidebar end -->
							</div>

							<h2 class="title"><strong>L’OFFRE DE FORMATION</strong></h2>
							<div class="separator-2"></div>
							<div class="row">
								<div class="col-md-12">
									<!-- accordion start -->
									<!-- ================ -->
									<div class="panel-group collapse-style-2" id="accordion-2">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2">
														FORMATION INITIALE OU PRE-EMPLOI
													</a>
												</h4>
											</div>
											<div id="collapseOne-2" class="panel-collapse collapse in">
												<div class="panel-body">
													Le recrutement s’effectue sur concours. Les cibles sont de jeunes gens issus du système scolaire sénégalais, niveau minimum 4eme de l’enseignement moyen âgé de 16 à 24 ans.
													La durée des études est de trois (3) années.
													La première année se déroule entièrement au CNQP. Une formation alternée centre/entreprise se fait en deuxième (2éme) et troisième (3éme) année sous forme de stages industriels organisés par an.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" class="collapsed">
														EXAMENS D’ETAT
													</a>
												</h4>
											</div>
											<div id="collapseTwo-2" class="panel-collapse collapse">
												<div class="panel-body">
													Le CNQP prépare les jeunes qui le désirent aux examens d’état au C.A.P au B.E.P au B.T  et au B.T.S en cours du soir et en cours du jour
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" class="collapsed">
														OFFRE DE SERVICES DE FORMATION CONTINUE AUX ENTREPRISES
													</a>
												</h4>
											</div>
											<div id="collapseThree-2" class="panel-collapse collapse">
												<div class="panel-body">
													<p>L’ objectif sectoriel jusque-là visé au niveau du département de la formation continue est resté le même, à savoir : <br>
    												• adapter l’agent (ouvrier, technicien et agent de maîtrise) à son poste de travail en tenant compte de l’évolution scientifique et technologique dans les professions <br>
    												• favoriser la promotion sociale par l’accès aux différents niveaux de qualification <br>
    												• reconvertir les agents selon les opportunités d’emplois <br>
    												• assister et conseiller les entreprises partenaires en matière de formation</p>
												</div>
											</div>
										</div>
										
									</div>
									<!-- accordion end -->
								</div>
								
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->
