---
layout: default-home
---

<!-- banner start -->
      <!-- ================ -->
      {% include homeslider1.html %}
      <!-- banner end -->

      <div id="page-start"></div>

      <!-- section about start -->
      <!-- ================ -->
      <div class="pv-40 footer-top">
        <div class="container">
          <h3 class="logo-font">Centre National de <span class="text-default">Qualification Professionnelle</span></h3>
          <div class="separator-2"></div>
          <div class="row mb-20">
            <div class="col-lg-6">
              <br><br>
              <img src="{{ page.image_1 }}" alt="">
            </div>
            <div class="col-lg-6">
              <h3>Depuis <span class="text-default">{{ page.annee_historique }}</span></h3>
              <p class="text-justify">{{ page.content }}</p>
              
            </div>
          </div>
          
        </div>
      </div>

      <!-- section departements start -->
      <!-- ================ -->
      <section class="section pv-40 light-gray-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h3 class="title text-center">{{ page.titre_diplome }}</h3>
              <div class="separator"></div>
              <p class="lead text-center">{{ page.description_diplome }}</p>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            {% for diplome in page.diplomes %}
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="image-box shadow text-center mb-20">
                <div class="overlay-container overlay-visible">
                  <img src="/images/education-4.jpg" alt="">
                  <a href="#" target="blank" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom">
                    <div class="text">
                      <p class="lead margin-clear mobile-visible">{{ diplome }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- section end -->
   
      <!-- section -->
        <!-- ================ -->
        <section class="pv-40 dark-translucent-bg background-img-1">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h3 class="title text-center">Formation continue <span class="text-default">& prestations</span></h3>
                <div class="separator"></div>
                <p class="lead text-center">L'inscription s'effectue sous couvert d'une entreprise, d'un organisme financier ou a titre individuel</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100"  style="width: 100%; height: 247px;">
                  <span class="icon without-bg"><i class="fa fa-line-chart"></i></span>
                  <div class="body">
                    <h4 class="title">Objectifs</h4><br>
                    <b>Ces actions de perfectionnement conçues sous forme modulaire se déroule au CNQP et/ou sur site et ont pour objectifs:</b>
                    <br>
                    <ul class="list-icons">
                      <li>Organiser des stages de perfectionnement professionnel pour le secteur productif(structuré et non-structuré ). <i class="icon-check-1"></i></li>
                      <li>Assurer des missions de conseil en formation auprès des entreprises <i class="icon-check-1"></i></li>
                      <li>Assurer des actions de parrainage et de formation d'instructeurs <i class="icon-check-1"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="separator-2"></div>
                <br>
                <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon without-bg"><i class="fa fa-institution"></i></span>
                  <div class="body">
                    <h4 class="title">Conditions d'accès</h4><br>
                    <b>Le niveau des connaissances techniques ou intellectuelles du stagiaires entre dans les critères d'acceptation et les frais de participation sont fixés par le conseil d'Administration et peuvent varier en fonction du module</b>
                  </div>
                </div>
                <br>
              </div>
              <div class="col-md-6">
                <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100" style="width: 100%; height: 247px;">
                  <span class="icon without-bg"><i class="fa fa-gears"></i></span>
                  <div class="body">
                    <h4 class="title">Déroulement des stages</h4><br>
                    <b>Le déroulement des stages varient en fonction du lieu du stage c'est à dire soit au CNQP, soit en entreprise.</b>
                    <br>
                    <ul class="list-icons">
                      <li>Pour ceux qui se déroulent au CNQP, ce sont des stages inter-entreprises dont le nombre de participants par groupe est limité<i class="icon-check-1"></i></li>
                      <li>Les stages peuvent se faire égalment en entreprise ou sur site en fonction du besoin et suivant un planning validé par les deux parties<i class="icon-check-1"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="separator-3"></div>
                <br>
                <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon without-bg"><i class="fa fa-graduation-cap"></i></span>
                  <div class="body">
                    <h4 class="title">Sanctions de la formation</h4><br>
                    <b>Le programme de perfectionnement professionnel est sanctionné par la délivrance d'une attestation(Certificatde Capacité) dont la dénommination varie selon la formation effectuée</b>
                    
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
        </section>
        <!-- section end -->
      <!-- section blog start -->
      <!-- ================ -->
      <section class="section clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3>Evenements <span class="text-default">à venir</span></h3>
              <div class="separator-2"></div>
              <div class="block">
                <div class="media margin-clear">
                  <div class="media-left">
                    <div class="overlay-container">
                      <img src="/images/gallery-3.jpg" alt="blog-thumb" style="width: 127px;">
                      <a href="#" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                  <h3 class="media-heading"><a href="#">Forum internationale pour l'emploi </a></h3>
                    
                    <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 23, 2018</p>
                    <a href="#">En savoir plus</a>
                  </div>
                  <hr>
                </div>
                <div class="media margin-clear">
                  <div class="media-left">
                    <div class="overlay-container">
                      <img src="/images/gallery-1.jpg" alt="blog-thumb" style="width: 127px;">
                      <a href="#" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading"><a href="#">Journee internationale de la science</a></h3>
                    <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 22, 2018</p>
                    <a href="#">En savoir plus</a>
                  </div>
                  <hr>
                </div>
                <div class="media margin-clear">
                  <div class="media-left">
                    <div class="overlay-container">
                      <img src="/images/gallery-3.jpg" alt="blog-thumb" style="width: 127px;">
                      <a href="#" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading"><a href="#">Forum sur les metiers de l'avenir </a></h3>
                    <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 21, 2018</p>
                    <a href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-6">
              <h3>Nos articles les<span class="text-default"> plus vues</span></h3>
              <div class="separator-2"></div>
              <div class="owl-carousel content-slider-with-controls-autoplay">
                {% for post in site.posts limit: 5 %}
                <div class="overlay-container overlay-visible">
                  <img src="{{ post.image }}" alt="" style="width: 555px; height: 340px;">
                  <a href="{{ post.url }}" class="overlay-link"><i class="fa fa-link"></i></a>
                  <div class="overlay-bottom hidden-xs">
                    <div class="text">
                      <a href="{{ post.url }}"><h3 class="title">{{ post.title }}</h3></a>
                      
                      <p>{{ post.mini_desc }}</p>
                    </div>
                  </div>
                  <a href="{{ post.url }}" class="overlay-link" target="blank"><i class="icon-plus-1"></i></a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      