---
layout: default
---

<!-- banner start -->
<!-- ================ -->
<div class="banner default-translucent-bg" style="background-image:url('{{ page.image }}');background-position:50% 0;">
	<!-- breadcrumb start -->
	<!-- ================ -->
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/">Acceuil</a></li>
				<li class="active">Cellule d'insertion</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 pv-20">
				<h1 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Cellule d'insertion</h1>
				<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
				<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">La relance de la Cellule d’Appui à l’Insertion Professionnelle du CNQP (CAIPRO/CNQP) s’inscrit dans le cadre de la nouvelle politique définie par la  Direction Générale. </p>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container border-clear light-gray-bg padding-bottom-clear">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title text-center">LES OBJECTIFS</h1>
				<!-- page-title end -->
				
				<div class="image-box space-top style-4">
					<div class="row grid-space-0">
						<div class="col-md-6">
							<div class="overlay-container">
								<img src="/images/service-2.jpg" alt="">
								<div class="overlay-to-top">
									<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="body">
								<div class="pv-30 visible-lg"></div>
								<h3>Insertion Professionnelle</h3>
								<div class="separator-2"></div>
								<p class="margin-clear">Elle a pour mission de mettre en place des initiatives orientées vers l’insertion professionnelle des apprenants et stagiaires, à tous les niveaux de formation.</p>
								<br>
								
							</div>
						</div>
					</div>
				</div>
				<div class="image-box style-4">
					<div class="row grid-space-0">
						<div class="col-md-6 col-md-push-6">
							<div class="overlay-container">
								<img src="/images/service-3.jpg" alt="">
								<div class="overlay-to-top">
									<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-pull-6">
							<div class="body text-right">
								<div class="pv-30 visible-lg"></div>
								<h3>Statistiques</h3>
								<div class="separator-3"></div>
								<p class="margin-clear">Elle permet de disposer de statistiques fiables sur l’insertion professionnelle des formés</p>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="image-box style-4">
					<div class="row grid-space-0">
						<div class="col-md-6">
							<div class="overlay-container">
								<img src="/images/service-4.jpg" alt="">
								<div class="overlay-to-top">
									<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="body">
								<div class="pv-30 visible-lg"></div>
								<h3>Relation école - entreprise</h3>
								<div class="separator-2"></div>
								<p class="margin-clear">Elle sert de liaison entre les entreprises utilisatrices de main d’œuvre et les formés du CNQP.</p>
								<br>
								
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

</br>

<!-- section start -->
<!-- ================ -->
<section class="pv-40 dark-translucent-bg background-img-1">
	<div class="container">
		<h2 class="title text-center"><strong>LES BENEFICES</strong></h2>
		<div class="separator"></div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon light-bg small"><i class="fa fa-arrows"></i></span>
					<div class="body">
						<h4 class="title">Responsive Design</h4>
						<p>Our design is with responsive in mind. Our themes are compatible with various devices.</p>
						<div class="separator-3"></div>
					</div>
				</div>
				<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon light-bg small"><i class="icon-megaphone"></i></span>
					<div class="body">
						<h4 class="title">Easy to Use</h4>
						<p>Our design is with responsive in mind. Our themes are compatible with various devices.</p>
						<div class="separator-3"></div>
					</div>
				</div>
				<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon light-bg small"><i class="icon-infinity"></i></span>
					<div class="body">
						<h4 class="title">Unlimited options and variations</h4>
						<p>Our design is with responsive in mind. Our themes are compatible with various devices.</p>
						<div class="separator-3"></div>
					</div>
				</div>
				<br>
			</div>
			<div class="col-md-6">
				<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon light-bg small"><i class="icon-snow"></i></span>
					<div class="body">
						<h4 class="title">Latest Technologies</h4>
						<p>Built with latest technologies like HTML5 and CSS3, with best practices and avoiding hacks and workarounds.</p>
						<div class="separator-2"></div>
					</div>
				</div>
				<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon light-bg small"><i class=" icon-tools"></i></span>
					<div class="body">
						<h4 class="title">Deticated Support</h4>
						<p>Built with latest technologies like HTML5 and CSS3, with best practices and avoiding hacks and workarounds.</p>
						<div class="separator-2"></div>
					</div>
				</div>
				<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon light-bg small"><i class="icon-star-empty"></i></span>
					<div class="body">
						<h4 class="title">Valid Code</h4>
						<p>Built with latest technologies like HTML5 and CSS3, with best practices and avoiding hacks and workarounds.</p>
						<div class="separator-2"></div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
</section>
<!-- section end -->